# Diretório de build do Maven
target/

# Arquivos de configuração do Eclipse
.classpath
.project
.settings/

# Arquivos gerados pelo IDE
*.iml
.idea/
*.ipr
*.iws
out/

# Logs
*.log

# Sistema operacional
.DS_Store
Thumbs.db