# Maven specific ignores
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties

# Sonar specific ignores
.sonar/
sonar-reports/

# Java specific ignores
*.class
*.jar
*.war
*.ear
*.nar
*.zip
*.tar.gz
*.rar
hs_err_pid*
*.log
*.junit.xml
*.ser
*.dat
*.dmp
*.java~
*.swp
*.swo
.m2/
.classpath
.project
.settings/

# Ignore directories created by popular build tools
build/
dist/

# Ignore IDE-specific directories and files
/.idea/
/.vscode/
/*.iml

# Ignore OS-specific files
.DS_Store
Thumbs.db

# JavaScript/Node.js specific ignores
node_modules/
npm-debug.log
yarn-error.log
yarn-debug.log

# Dependency directories
jspm_packages/

# TypeScript cache
*.tsbuildinfo

# JavaScript test coverage
coverage/

# HTML specific ignores
# (Typically, there aren't specific files to ignore for HTML, but you might have build directories)
public/

# Specific directory to ignore
qa-challenge-master-set-challenge-unittests/set-challenge/unittests/netsim-feedzai/target/